.container {
  background-color: black;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
}

@keyframes moveObj {
  0% {
      transform: translateY(10rem) rotateY(-30deg);
      opacity: 0;
  }
  100% {
      transform: translateY(0) rotateY(0);
      opacity: 1;
  }
}


#img-back {
  height: 60%;
  margin: auto;
  animation: moveObj 1.7s forwards;
}

.login {
  width: 30%;
  margin-right: 4%;
  border: 1px solid rgb(34, 33, 33);
  padding: 11rem 1.4rem;
  border-radius: 15px;
  animation: moveObj 1.7s forwards;
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: #d3cdcd;
}

.form-field {
  width: 100%;
  margin-top: 1rem;
}

button {
  width: 100%;
  margin-top: .5rem;
}

@media screen and (max-width: 600px) {

  .container {
    justify-content: center;
  }

  svg {
    display: none;
  }

  .login {
    width: 60%;
    border: none;
  }
}


@media screen and (max-width: 800px) and (min-width: 600px) {

  .container {
    justify-content: center;
  }

  .login {
    width: 60%;
    border: none;
  }
}

@media screen and (max-width: 1100px) and (min-width: 800px){

  .container {
    justify-content: center;
  }

  svg {
    height: 20%;
  }

  .login {
    width: 20%;
    padding: 6rem 1.4rem;
  }
}